{% extends 'layout.html.twig' %}

{% block title %} <i class="fa fa-phone"> </i>  Contact Details Informations {% endblock %}

{% block content %}
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-phone"> </i>  Contact
            </div>
            <div class="panel-body">
                <table>
                    <tbody>

                        <tr>
                            <th>Nom </th>
                            <td>{{ contact.name }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ contact.email }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ contact.address }}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ contact.phone }}</td>
                        </tr>
                        <tr>
                            <th>Website</th>
                            <td>{{ contact.website }}</td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>{{ contact.age }}</td>
                        </tr>
                        <tr>
                            <th>Date Création</th>
                            <td>{{ contact.createAt|date('d-M-Y') }}</td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div class="panel-footer">

                <a href="{{ path('contact_index') }}" class="btn btn-default btn-xs"> <i class="fa fa-arrow-left"> </i> Retour à la liste</a>

                <a href="{{ path('contact_edit', { 'id': contact.id }) }}"  class="btn btn-info btn-xs"> <i class="fa fa-edit"> </i> Modifier</a>

                {{ form_start(delete_form) }}
                <input type="submit" value="supprimer" class="btn btn-danger btn-xs">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>


{% endblock %}
